// Breakpoints
$breakpoint-tablet: 450px;
$breakpoint-desktop: 900px;
$breakpoint-mini: 350px;

// Layout
$nav-height: 50px;
$nav-height-desktop: 55px;
$nav-height-tablet: 50px;

$icon-size: 1.5em;

$layer-backdrop: 100;
$layer-overlay: 200;

// Colors
$primary-color: hsl(185, 49%, 36%);
$secondary-color: hsl(175, 20%, 49%);
$background-color: hsl(0, 0%, 100%);
$text-color: hsl(204, 27%, 18%);
$highlight-color: hsla(0, 0, 100%, 0.1);
$shadow-color: hsla(0, 0%, 0%, 0.2);