/*#digital-sun-clock {
    float: left;
}

#analog-sun-clock {
    float: right;
}*/

#digital-sun-clock > table > tr > td {
    text-align: center;
}

#digital-sun-clock > table > tr:first-child {
    text-align: right;
}

table, th, td {
    border: 1px solid black;
  }